body {
    background-color: rgb(253, 251, 224);
    max-width: 98%;
    margin: 0 auto;
    padding: 0%;
  }

  header {
    width: 100%;
    border: 20%;
    padding: 1%;
    background-color: #04AA6D;
  }


  footer {
    width: 100%;
    border: 20%;
    padding: 1%;
    background-color: #04AA6D;
  }

  h1, h2, h3 {
    font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  }
  
  h2, h3 {
    font-size: x-large;
    color: rgb(172, 3, 3);
  }

  h1 {
    font-size: xx-large;
    color: rgb(172, 3, 3);
  }

h1 {
    letter-spacing: 5px;
    text-align: center;
  }

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(172, 3, 3);
    border-radius: 4px;
  }

  textarea[id=delivery] {
    width: 52%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(172, 3, 3);
    border-radius: 4px;
  }

  form {
    max-width: 60%;
    margin: 8px 0;
    padding: 12px 20px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #04AA6D;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #edf8ea;
  }

  th {
    color: #04AA6D;
  }

  img {
    border-radius: 3%;
    max-width: 100%;
  }

  button {
    color:rgb(172, 3, 3);
    background-color: #04AA6D;
    border-color: rgb(172, 3, 3);
    width: 52%;
  }

